extends adminDashboard
block content
    body.page-header-fixed
    .overlay
    |     
    .menu-wrap
      nav.profile-menu
        .profile
          img(src='assets/images/profile-menu-image.png', width='60', alt='#{name}')
          span #{name}
        |
      |             
      button#close-button.close-button Close Menu
    |         
    form.search-form(action='#', method='GET')
      .input-group
        input.form-control.search-input(type='text', name='search', placeholder='Search...')
        |                 
        span.input-group-btn
          button.btn.btn-default.close-search.waves-effect.waves-button.waves-classic(type='button')
            i.fa.fa-times
      // Input Group
    // Search Form
    main.page-content.content-wrap
      .navbar
        .navbar-inner
          .sidebar-pusher
            a.waves-effect.waves-button.waves-classic.push-sidebar(href='javascript:void(0);')
              i.fa.fa-bars
          |                     
          .logo-box
            a.logo-text(href='/')
              span CoinSense
          // Logo Box
          .search-button
            a.waves-effect.waves-button.waves-classic.show-search(href='javascript:void(0);')
              i.fa.fa-search
          |                     
          .topmenu-outer
            .top-menu
              ul.nav.navbar-nav.navbar-left
                li
                  a.waves-effect.waves-button.waves-classic.sidebar-toggle(href='javascript:void(0);')
                    i.fa.fa-bars
                |                                 
                li
                  a.waves-effect.waves-button.waves-classic.cd-nav-trigger(href='#cd-nav')
                    i.fa.fa-diamond
                |                                 
                li
                  a.waves-effect.waves-button.waves-classic.toggle-fullscreen(href='javascript:void(0);')
                    i.fa.fa-expand
                |                                                         
              ul.nav.navbar-nav.navbar-right
                li
                  a.waves-effect.waves-button.waves-classic.show-search(href='javascript:void(0);')
                    i.fa.fa-search
                |                                                                                  
                li.dropdown
                  a.dropdown-toggle.waves-effect.waves-button.waves-classic(href='#', data-toggle='dropdown')
                    span.user-name
                      | #{name}
                      i.fa.fa-angle-down
                    |                                         
                    img.img-circle.avatar(src='/images/bitkey.png', width='40', height='40', alt='')
                  |                                     
                  ul.dropdown-menu.dropdown-list(role='menu')
                    li(role='presentation')
                      a(href='/profile')
                        i.fa.fa-user
                        | Profile
                    |                                                          
                    li(role='presentation')
                      a(href='/logout')
                        i.fa.fa-sign-out.m-r-xs
                        | Log out
                |                                 
                li
                  a.log-out.waves-effect.waves-button.waves-classic(href='/logout')
                    span
                      i.fa.fa-sign-out.m-r-xs
                      | Log out
                |                                   
              // Nav
            // Top Menu
      // Navbar
      .page-sidebar.sidebar
        .page-sidebar-inner.slimscroll
          .sidebar-header
            .sidebar-profile
              a#profile-menu-link(href='javascript:void(0);')
                .sidebar-profile-image
                  img.img-circle.img-responsive(src='/images/bitkey.png', alt='')
                |                                 
                .sidebar-profile-details
                  span
                    | #{name}
                    br
                    small Username
          |                     
          ul.menu.accordion-menu
            li.active
              a.waves-effect.waves-button(href='/dashboard')
                span.menu-icon.glyphicon.glyphicon-home
                p Dashboard
            |                         
            li
              a.waves-effect.waves-button(href='/profile')
                span.menu-icon.glyphicon.glyphicon-user
                p Profile
        |                         
        // Page Sidebar Inner
      // Page Sidebar
      .page-inner
        .page-title
          h3 Dashboard
          |                     
          .page-breadcrumb
            ol.breadcrumb
              li
                a(href='index.html') Home
              |                             
              li.active Dashboard
        |                 
        #main-wrapper
          .row
            .col-lg-3.col-md-6
              .panel.info-box.panel-dark
                .panel-body
                  .info-box-stats
                    p
                      | $
                      span.counter 16930.42
                    |                                         
                    span.info-box-title Bitcoin Current Price 
                  |                                     
                  .info-box-icon
                    i.icon-
                  |                                     
                  .info-box-progress
                    .progress.progress-xs.progress-squared.bs-n
                      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
            |                         
            .col-lg-3.col-md-6
              .panel.info-box.panel-dark
                .panel-body
                  .info-box-stats
                    p
                      | $
                      span.counter 696.14
                    |                                         
                    span.info-box-title Ethereum Current Price
                  |                                     
                  .info-box-icon
                    i.icon-
                  |                                     
                  .info-box-progress
                    .progress.progress-xs.progress-squared.bs-n
                      .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
            |                         
            .col-lg-3.col-md-6
              .panel.info-box.panel-dark
                .panel-body
                  .info-box-stats
                    p
                      | $
                      span.counter 222.07
                    |                                         
                    span.info-box-title Litecoin Current Price 
                  |                                     
                  .info-box-icon
                    i.icon-
                  |                                     
                  .info-box-progress
                    .progress.progress-xs.progress-squared.bs-n
                      .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
            |                         
            .col-lg-3.col-md-6
              .panel.info-box.panel-dark
                .panel-body
                  .info-box-stats
                    |
                    span.info-box-title  #{name}'s Dashboard  
                    |                                        
                  |                                     
                  .info-box-icon
                    i.icon-favorite
                  |                                     
                  .info-box-progress
                    .progress.progress-xs.progress-squared.bs-n
                      .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
          // Row
          .row
            .col-lg-9.col-md-12
              .panel.panel-dark
                .row
                  .col-sm-8
                    .visitors-chart
                      .panel-heading
                        h4.panel-title Bitcoin vs Time
                      |                                             
                      .panel-body
                        #flotchart1
                  |                                     
                  .col-sm-4
                    .stats-info
                      .panel-heading
                        h4.panel-title Coin Prices
                      |                                             
                      .panel-body
                        ul.list-unstyled
                          li
                            | Bitcoin
                            .text-success.pull-right
                              | 8%
                              i.fa.fa-level-down
                          |                                                     
                          li
                            | Etherum
                            .text-success.pull-right
                              | 33%
                              i.fa.fa-level-up
                          |                                                     
                          li
                            | Litecoin
                            .text-success.pull-right
                              | 16%
                              i.fa.fa-level-up
                          |                                                     
                          li
                            | Ripple
                            .text-danger.pull-right
                              | 13%
                              i.fa.fa-level-down
                          |                                                     
                          li
                            | Monero
                            .text-danger.pull-right
                              | 7%
                              i.fa.fa-level-down
                          |                                                     
                          li
                            | Dash
                            .text-success.pull-right
                              | 4%
                              i.fa.fa-level-up
                          |                                                     
                          li
                            | DodgeCoin
                            .text-success.pull-right
                              | 3%
                              i.fa.fa-level-up
            |                         
            .col-lg-3.col-md-6
              .panel.panel-dark(style='height: 50%;')
                .panel-heading
                  h4.panel-title Bitcoin Current (Real-Time)
                  |                                     
                  .panel-control
                    a.panel-collapse(href='javascript:void(0);', data-toggle='tooltip', data-placement='top', title='Expand/Collapse')
                      i.icon-arrow-down
                    |                                         
                    a.panel-reload(href='javascript:void(0);', data-toggle='tooltip', data-placement='top', title='Reload')
                      i.icon-reload
                |                                 
                .panel-body
                  .server-load
                    .server-stat
                      span
                      |                                             
                      p Real time
                    |                                         
                  |                                     
                  #flotchart2
            |                         
            .col-lg-5.col-md-6
              .panel.panel-dark
                .panel-heading
                  h4.panel-title Current Prices
                  |                                     
                  .panel-control
                    a.panel-reload(href='javascript:void(0);', data-toggle='tooltip', data-placement='top', title='Reload')
                      i.icon-reload
                |                                 
                .panel-body
            //-       .weather-widget
            //-         .row
            //-           .col-md-12
            //-             .weather-top
            //-               .weather-current.pull-left
            //-                 i.wi.wi-day-cloudy.weather-icon
            //-                 |                                                         
            //-                 p
            //-                   span
            //-                     | 83
            //-                     sup &deg;F
            //-               |                                                     
            //-               h2.weather-day.pull-right
            //-                 | Miami, FL
            //-                 br
            //-                 small
            //-                   b 13th April, 2015
            //-           |                                             
            //-           .col-md-6
            //-             ul.list-unstyled.weather-info
            //-               li
            //-                 | Wind 
            //-                 span.pull-right
            //-                   b ESE 16 mph
            //-               |                                                     
            //-               li
            //-                 | Humidity 
            //-                 span.pull-right
            //-                   b 64%
            //-               |                                                     
            //-               li
            //-                 | Pressure 
            //-                 span.pull-right
            //-                   b 30.15 in
            //-               |                                                     
            //-               li
            //-                 | UV Index 
            //-                 span.pull-right
            //-                   b 6
            //-           |                                             
            //-           .col-md-6
            //-             ul.list-unstyled.weather-info
            //-               li
            //-                 | Cloud Cover 
            //-                 span.pull-right
            //-                   b 60%
            //-               |                                                     
            //-               li
            //-                 | Ceiling 
            //-                 span.pull-right
            //-                   b 17800 ft
            //-               |                                                     
            //-               li
            //-                 | Dew Point 
            //-                 span.pull-right
            //-                   b 70&deg; F
            //-               |                                                     
            //-               li
            //-                 | Visibility 
            //-                 span.pull-right
            //-                   b 10 mi
            //-           |                                             
            //-           .col-md-12
            //-             ul.list-unstyled.weather-days.row
            //-               li.col-xs-4.col-sm-2
            //-                 span 12:00
            //-                 i.wi.wi-day-cloudy
            //-                 span
            //-                   | 82
            //-                   sup &deg;F
            //-               |                                                     
            //-               li.col-xs-4.col-sm-2
            //-                 span 13:00
            //-                 i.wi.wi-day-cloudy
            //-                 span
            //-                   | 82
            //-                   sup &deg;F
            //-               |                                                     
            //-               li.col-xs-4.col-sm-2
            //-                 span 14:00
            //-                 i.wi.wi-day-cloudy
            //-                 span
            //-                   | 82
            //-                   sup &deg;F
            //-               |                                                     
            //-               li.col-xs-4.col-sm-2
            //-                 span 15:00
            //-                 i.wi.wi-day-cloudy
            //-                 span
            //-                   | 83
            //-                   sup &deg;F
            //-               |                                                     
            //-               li.col-xs-4.col-sm-2
            //-                 span 16:00
            //-                 i.wi.wi-day-cloudy
            //-                 span
            //-                   | 82
            //-                   sup &deg;F
            //-               |                                                     
            //-               li.col-xs-4.col-sm-2
            //-                 span 17:00
            //-                 i.wi.wi-day-sunny-overcast
            //-                 span
            //-                   | 82
            //-                   sup &deg;F
            |                         
            .col-lg-4.col-md-6
              .panel.panel-dark
                .panel-heading
                  h4.panel-title #{name}'s Portfolio
                  .panel-control
                    a.panel-reload(href='javascript:void(0);', data-toggle='tooltip', data-placement='top', title='', data-original-title='Reload')
                      i.icon-reload
                .panel-body
                  .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 45%;')
                    .inbox-widget.slimscroll(style='overflow: hidden; width: auto; height: 100%;')
                        .inbox-item
                          .inbox-item-img
                            img.img-circle(src='/images/btcAV.png', alt='')
                          p.live-title Your Bitcoins
                          p.inbox-item-date #{btc} BTC
                        .inbox-item
                          .inbox-item-img
                            img.img-circle(src='/images/ethAV.jpg', alt='')
                          p.live-title Your Ethereum
                          p.f-s-18.inbox-item-date #{eth} ETH
                        .inbox-item
                          .inbox-item-img
                            img.img-circle(src='/images/ltcAV.jpg', alt='')
                          p.live-title Your Litecoins
                          p.inbox-item-date #{lit} LIT
                    .slimScrollBar(style='background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.3; display: none; border-radius: 0px; z-index: 99; right: 0px; height: 298.923px;')
                    .slimScrollRail(style='width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px;')

                                  
                                
            .col-lg-3.col-md-6
              .panel.twitter-box
                .panel-body
                  .live-tile(data-mode='flip', data-speed='750', data-delay='3000')
                    span.tile-title.pull-right News
                    |                                         
                    //- i.fa.fa-twitter
                    |                                         
                    div
                      h2.no-m *All* crypto communities, ethereum included, should heed these words of warning...
                      span.tile-date 13 January, 2018
                    |                                         
                    div
                      h2.no-m Those who didn’t buy $XRP on the dip will regret this when Japan wakes up! 
                      span.tile-date 13 January, 2018
              |                             
              .panel.facebook-box
                .panel-body
                  .live-tile(data-mode='carousel', data-direction='horizontal', data-speed='750', data-delay='4500')
                    span.tile-title.pull-right Facebook
                    |                                         
                    //- i.fa.fa-facebook
                    |                                         
                    div
                      h2.no-m Check out our actual TOP10 CryptoCurrency price index! ...
                      span.tile-date @cryptocurrency
                    |                                         
                    div
                      h2.no-m There are a lot of scams out there. Do your ICO research!...
                      span.tile-date @cryptocurrencyupdates
            |                         
        // Main Wrapper
        .page-footer
          p.no-s 2018 CoinSense - CWRU Bootcamp Project.
      // Page Inner
    // Page Content
    nav#cd-nav.cd-nav-container
      header
        h3 Navigation
        |                 
        a.cd-close-nav(href='#0') Close
      |             
      ul.cd-nav.list-unstyled
        li.cd-selected(data-menu='index')
          a(href='/dashboard')
            span
              i.glyphicon.glyphicon-home
            |                         
            p Dashboard
        |                 
        li(data-menu='profile')
          a(href='/profile')
            span
              i.glyphicon.glyphicon-user
            |                         
            p Profile
        | 
        li(data-menu='Contact')
          a(href='/contact')
            span
              i.glyphicon.glyphicon-envelope
            |                         
            p Contact Us
        |
        li(data-menu=' Crypto Facts')
          a(href='/facts')
            span
              i.glyphicon.glyphicon-ok
            |                         
            p More Facts on Crypto Currency 
        |                     
    |         
    .cd-overlay
    // Javascripts
    script(src='assets/plugins/jquery/jquery-2.1.4.min.js')
    |         
    script(src='assets/plugins/jquery-ui/jquery-ui.min.js')
    |         
    script(src='assets/plugins/pace-master/pace.min.js')
    |         
    script(src='assets/plugins/jquery-blockui/jquery.blockui.js')
    |         
    script(src='assets/plugins/bootstrap/js/bootstrap.min.js')
    |         
    script(src='assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
    |         
    script(src='assets/plugins/switchery/switchery.min.js')
    |         
    script(src='assets/plugins/uniform/jquery.uniform.min.js')
    |         
    script(src='assets/plugins/offcanvasmenueffects/js/classie.js')
    |         
    script(src='assets/plugins/offcanvasmenueffects/js/main.js')
    |         
    script(src='assets/plugins/waves/waves.min.js')
    |         
    script(src='assets/plugins/3d-bold-navigation/js/main.js')
    |         
    script(src='assets/plugins/waypoints/jquery.waypoints.min.js')
    |         
    script(src='assets/plugins/jquery-counterup/jquery.counterup.min.js')
    |         
    script(src='assets/plugins/toastr/toastr.min.js')
    |         
    script(src='assets/plugins/flot/jquery.flot.min.js')
    |         
    script(src='assets/plugins/flot/jquery.flot.time.min.js')
    |         
    script(src='assets/plugins/flot/jquery.flot.symbol.min.js')
    |         
    script(src='assets/plugins/flot/jquery.flot.resize.min.js')
    |         
    script(src='assets/plugins/flot/jquery.flot.tooltip.min.js')
    |         
    script(src='assets/plugins/curvedlines/curvedLines.js')
    |         
    script(src='assets/plugins/metrojs/MetroJs.min.js')
    |         
    script(src='assets/js/modern.min.js')
    |         
    script(src='assets/js/pages/dashboard.js')
