extends adminProfile
block content
  html.js.flexbox.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths.gr__(style='')
          head
            style(type='text/css').
                .gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
              link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
              style(type='text/css').
                .gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
              style(type='text/css').
                @media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
              style(type='text/css').
                .gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
              // Title
              title #{name} | Profile
              |  
            body.page-header-fixed.pace-done(data-gr-c-s-loaded='true')
              .pace.pace-inactive
                .pace-progress(data-progress-text='100%', data-progress='99', style='transform: translate3d(100%, 0px, 0px);')
                  .pace-progress-inner
                .pace-activity
              |         
              .overlay
              |         
              |         
              |         
              .menu-wrap
                nav.profile-menu
                  .profile
                    img(src='assets/images/profile-menu-image.png', width='60', alt='#{name}')
                    span #{name}
                  |                 
                  .profile-menu-list
                |             
                button#close-button.close-button Close Menu
              |         
              |         
              main.page-content.content-wrap
                .navbar
                  .navbar-inner
                    .sidebar-pusher
                      a.waves-effect.waves-button.waves-classic.push-sidebar(href='javascript:void(0);')
                        i.fa.fa-bars
                    |                     
                    .logo-box
                      a.logo-text(href='index.html')
                        span CoinSense
                    // Logo Box
                    .search-button
                      a.waves-effect.waves-button.waves-classic.show-search(href='javascript:void(0);')
                        i.fa.fa-search
                    |                     
                    .topmenu-outer
                      .top-menu
                        ul.nav.navbar-nav.navbar-left
                          li
                            a.waves-effect.waves-button.waves-classic.sidebar-toggle(href='javascript:void(0);')
                              i.fa.fa-bars
                          |                                 
                          li
                        |                             
                        ul.nav.navbar-nav.navbar-right
                          li.dropdown
                            //- |a.dropdown-toggle.waves-effect.waves-button.waves-classic(href='#', data-toggle='dropdown')
                              span.user-name
                                | #{name}
                                i.fa.fa-angle-down
                              |                                         
                              img.img-circle.avatar(src='assets/images/avatar1.png', width='40', height='40', alt='')
                            |                                     
                            ul.dropdown-menu.dropdown-list(role='menu')
                              li(role='presentation')
                                a(href='profile.html')
                                  i.fa.fa-user
                                  | Profile
                          |                                 
                          li
                            a.log-out.waves-effect.waves-button.waves-classic(href='/logout')
                              span
                                i.fa.fa-sign-out.m-r-xs
                                | Log out
                        // Nav
                      // Top Menu
                // Navbar
                .page-sidebar.sidebar
                  .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 100%;')
                    .page-sidebar-inner.slimscroll(style='overflow: hidden; width: auto; height: 100%;')
                      .sidebar-header
                        .sidebar-profile
                          a#profile-menu-link(href='javascript:void(0);')
                            .sidebar-profile-image
                              img.img-circle.img-responsive(src='assets/images/profile-menu-image.png', alt='')
                            |                                 
                            .sidebar-profile-details
                              span
                                | #{name}
                                br
                                small Art Director
                      |                     
                      ul.menu.accordion-menu
                        li
                          a.waves-effect.waves-button(href='/dashboard')
                            span.menu-icon.glyphicon.glyphicon-home
                            p Dashboard
                        |                         
                        li.active
                          a.waves-effect.waves-button(href='profile.html')
                            span.menu-icon.glyphicon.glyphicon-user
                            p Profile
                        |                         
                        li.droplink
                    .slimScrollBar(style='background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.3; display: none; border-radius: 0px; z-index: 99; right: 0px; height: 300px;')
                    .slimScrollRail(style='width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px;')
                  // Page Sidebar Inner
                // Page Sidebar
                .page-inner(style='min-height:1080px !important')
                  .profile-cover
                    .row
                      .col-md-3.profile-image
                        .profile-image-container
                        | #{avatar}
                      |                         
                  |                 
                  #main-wrapper
                    .row
                      .col-md-3.user-profile
                        h3.text-center #{name}
                        |                             
                        p.text-center UI/UX Designer
                        |                             
                        hr
                        |                             
                        ul.list-unstyled.text-center
                          li
                            p
                              
                              form(method='POST' action='/register')
                                div.form-group
                                  label(for ='city') City:
                                  input#city.form-control(type='text', placeholder='Current City' name='city')
                                  
                          |                                
                          li
                            p
                              i.fa.fa-envelope.m-r-xs
                              
                              a(href='#') #{email}
                          |                                 
                          li
                            p
                             
                              form(method='POST' action='/register')
                                div.form-group
                                  label(for='website') Website:
                                  input#name.form-control(type='text', placeholder='Your Website' name='website')
                              a(href='#')  
                              i.fa.fa-link.m-r-xs
                        |                             
                        hr
                        |
                        
                        form(method='POST', enctype='multipart/form-data')
                        input(type='file', name='upl')
                        button.btn.btn-primary.btn-block(type='submit', name='uploadimage', value='Upload Image')
                          i.fa.fa-plus.m-r-xs
                          | Upload Profile Image                 
                      |                         
                      .col-md-6.m-t-lg
                        .panel.panel-dark
                            .post
                              h3.bottommargin_40 Cryptocurrency Calculator:
                              include price                                     
                              
                        |                             
                        .profile-timeline
                          ul.list-unstyled
                            li.timeline-item
                              .panel.panel-dark
                                .panel-body
                            |                                     
                            li.timeline-item
                              .panel.panel-dark
                                .panel-body
                            |                                     
                            li.timeline-item
                              .panel.panel-dark
                                .panel-body
                      |                         
                      .col-md-3.m-t-lg
                        .panel.panel-dark
                          .panel-heading
                            .panel-title Team
                          |                                 
                          .panel-body
                        |
                        .panel.panel-dark
                          .panel-heading
                            .panel-title Some Info
                          |                                 
                          .panel-body
                            p
                              | Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                        |                             
                        .panel.panel-dark
                          .panel-heading
                            .panel-title Skills
                          |                                 
                          .panel-body
                  |                 
                  .page-footer
                // Page Inner
              // Page Content
              
              |         
              .cd-overlay
              // Javascripts
              script(src='assets/plugins/jquery/jquery-2.1.4.min.js')
              |         
              script(src='assets/plugins/jquery-ui/jquery-ui.min.js')
              |         
              script(src='assets/plugins/pace-master/pace.min.js')
              |         
              script(src='assets/plugins/jquery-blockui/jquery.blockui.js')
              |         
              script(src='assets/plugins/bootstrap/js/bootstrap.min.js')
              |         
              script(src='assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
              |         
              script(src='assets/plugins/switchery/switchery.min.js')
              |         
              script(src='assets/plugins/uniform/jquery.uniform.min.js')
              |         
              script(src='assets/plugins/offcanvasmenueffects/js/classie.js')
              |         
              script(src='assets/plugins/offcanvasmenueffects/js/main.js')
              |         
              script(src='assets/plugins/waves/waves.min.js')
              |         
              script(src='assets/plugins/3d-bold-navigation/js/main.js')
              |         
              script(src='assets/js/modern.min.js')
              |         
              |         
              script(src='assets/js/pages/profile.js')
            span.gr__tooltip
              span.gr__tooltip-content
              i.gr__tooltip-logo
              span.gr__triangle
